<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/77b400fe-1554-4563-a0d5-9c46ebb4f3f8/resourcegroups/WebApp_OpenIDConnect_ASPCore5_Sample_RG/providers/Microsoft.Web/sites/WebAppOpenIDConnectASPNetCore5Sample20220617020322</ResourceId>
    <ResourceGroup>WebApp_OpenIDConnect_ASPCore5_Sample_RG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webappopenidconnectaspnetcore5sample20220617020322.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>35f44fc9-25e2-4493-9dc8-9d8d7ee10983</ProjectGuid>
    <MSDeployServiceURL>webappopenidconnectaspnetcore5sample20220617020322.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebAppOpenIDConnectASPNetCore5Sample20220617020322</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$WebAppOpenIDConnectASPNetCore5Sample20220617020322</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>